body {
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
  background: red;
}

header {
  background: black;
  color: yellow;
  padding: 20px;
  text-align: center;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100px);
}

.chat-container {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 600px;
  max-width: 90%;
  height: 600px;
  display: flex;
  flex-direction: column;
}

.chat-messages {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.message {
  margin-bottom: 10px;
}

.username {
  font-weight: bold;
  margin-right: 5px;
}

.chat-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.chat-form input[type="text"] {
  flex: 1;
  margin-right: 10px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 1.2rem;
}

.chat-form button {
  padding: 10px 20px;
  background-color: black;
  color: yellow;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.chat-form button:hover {
  background-color: #3e8e41;
}


nav a {
  color: yellow;
  text-decoration: none;
  font-size: 1.2rem;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 10px;
}
